{%include "navbar.html" %}
<div class="container ">
    <div class="row">
        <div class="col-lg-10 mt-3 mb-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="" method="get" class="d-flex">
                        <input type="text" class="form-control" name="contact" placeholder="enter your registered Contact no">
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
        <table class="table border border-1">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">contact</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ayush</td>
                <td>9118574</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Anish</td>
                <td>785479625</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Niki</td>
                <td>8745264152</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Smriti</td>
                <td>84515151551</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
{%include "footer.html" %}
